@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: 'Nunito', sans-serif;
}
